{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
  <h1 class="display-4">Notas</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        <th scope="col">Nota definitiva</th>
        <th scope="col">Ver</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Física</th>
        <td>4.2</td>
        <td><a href="http://localhost:5000/notasEstudiante" target="_blank"><button type="button" class="btn btn-primary" href="#">Ver</button></a></td>
        
      </tr>
      <tr>
        <th scope="row">Cálculo</th>
        <td>2.9</td>
        <td><a href="http://localhost:5000/notasEstudiante" target="_blank"><button type="button" class="btn btn-primary" href="#">Ver</button></a></td>
      </tr>
      <tr>
        <th scope="row">Programación</th>
        <td >4.8</td>
        <td><a href="http://localhost:5000/notasEstudiante" target="_blank"><button type="button" class="btn btn-primary" href="#">Ver</button></a></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock%}
