{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
  <h1 class="display-4">Materias</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        <th scope="col">Notas</th>
        <th scope="col">Observaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Cálculo</th>
        <td>4.2</td>
        <td>Entrega correcta de todos los trabajos</td>
        
      </tr>
      <tr>
        <th scope="row">Cálculo</th>
        <td>2.9</td>
        <td>Faltó realizar parcial</td>
      </tr>
      <tr>
        <th scope="row">Cálculo</th>
        <td >4.8</td>
        <td>Entrega correcta de todos los trabajos</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock%}
